<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yubo.web.mapper.BookMapper">

    <!--column 数据库名称-->
    <!--property Java属性名称-->
    <resultMap id="bookMap" type="com.yubo.web.entity.Book">
        <id property="id" column="id" />
        <result column="name" property="name" />
    </resultMap>

    <insert id="insert" parameterType="com.yubo.web.entity.Book">
        insert into book
            (name,create_time,update_time)
        values
        (#{name},sysdate(),sysdate())
    </insert>

    <select id="select" resultMap="bookMap" parameterType="com.yubo.web.entity.Book">
        select * from book
        where 1 = 1
        <if test="name != null">
            and name = #{name}
        </if>
    </select>

</mapper>